<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    <link rel="icon" href="../img/PARAICONO.ico">
    <link rel="stylesheet" href="../EstiloCSS/catalogo.css">
</head>

<body>
    <header>
        <nav>
            <a href="../index.html">Inicio</a>
        </nav>
    </header>

    <main>
        <section>
            <table border="1">
                <thead>
                    <tr>
                        <th>Remeras Blancas</th>
                        <th>Remeras Negras</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="contenedor-remeras-blancas">
                              <!-- LADO IZQUIERDO -->
                              <div class="lado-izquierdo">
                                <div class="item-remera">
                                  <img src="../img/Blanca1.JPG" alt="Remera Blanca 1" width="100">
                                  <p>Descripción de la remera blanca 1</p>
                                </div>
                                <div class="item-remera">
                                  <img src="../img/BlancaPercha1.JPG" alt="Remera Blanca 2" width="100">
                                  <p>Descripción de la remera blanca 2</p>
                                </div>
                              </div>
                          
                              <!-- LADO DERECHO -->
                              <div class="lado-derecho">
                                <div class="item-remera">
                                  <img src="../img/BlancaDibujo1.JPG" alt="Remera Blanca 3" width="100">
                                  <p>Descripción de la remera blanca 3</p>
                                </div>
                                <div class="item-remera">
                                  <img src="../img/BlancaDibujoPercha1.JPG" alt="Remera Blanca 4" width="100">
                                  <p>Descripción de la remera blanca 4</p>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="contenedor-remeras-negras">
                              <!-- LADO IZQUIERDO -->
                              <div class="lado-izquierdo">
                                <div class="item-remera">
                                  <img src="../img/NegraDibujoDoblada1.JPG" alt="Remera Negra 1" width="100">
                                  <p>Descripción de la remera negra 1</p>
                                </div>
                                <div class="item-remera">
                                  <img src="../img/NegraDibujo1.JPG" alt="Remera Negra 2" width="100">
                                  <p>Descripción de la remera negra 2</p>
                                </div>
                              </div>
                          
                              <!-- LADO DERECHO -->
                              <div class="lado-derecho">
                                <div class="item-remera">
                                  <img src="../img/Negra1.JPG" alt="Remera Negra 3" width="100">
                                  <p>Descripción de la remera negra 3</p>
                                </div>
                                <div class="item-remera">
                                  <img src="../img/NegraPercha1.JPG" alt="Remera Negra 4" width="100">
                                  <p>Descripción de la remera negra 4</p>
                                </div>
                              </div>
                            </div>
                          </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <footer id="Contacto">
        <h2>Envianos tu consulta</h2>
        <form action="link" method="post">
            <div>
                <label for="Nombre">Nombre</label>
                <input type="text" name="Nombre" id="Nombre">
            </div>
            <div>
                <label for="Apellido">Apellido</label>
                <input type="text" name="Apellido" id="Apellido">
            </div>
            <div>
                <label for="Mail">Mail</label>
                <input type="email" name="Mail" id="Mail">
            </div>
            <div>
                <label for="Consulta">Consulta:</label>
                <textarea name="Consulta" id="Consulta" rows="5" cols="30">Deja tu consulta aqui</textarea>
            </div>
        </form>
</body>

</html>