<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio-sesion</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <div id="manejo">
    <h2>inicio sesion</h2>
    <form id="formulario"></form>
    <div class="div-v">
        <input type="text" id="usuario" placeholder="ingrese usuario">
        <span class="error-message" id="usuario-error"></span>
    </div>
    <div class="div-v">
        <input type="password" id="contraseña" placeholder="ingrese contraseña"><br>
        <span class="error-message" id="contraseña-error"></span>
    </div id="botones">
    <button type="submit" class="button">Iniciar sesion</button>
        <p>¿olvidaste tu contraseña?</p>
        <a class="button" href="registro-sesion.html">Regístrate</a>
        <a class="button" href="../index.html">Pagina principal</a><BR></BR>
        <!-- <button type="submit" class="button">Iniciar sesion</button> -->
    </div>
    <div id="success-message" class="success-message"></div>
    </form>
    </div>
    <script src=""></script>
</body>
</html>