<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio-sesion</title>
    <link rel="stylesheet" href="../static/EstiloCSS/inicio-sesion.css">
</head>
<body>
  <div id="manejo">
    <h2>Iniciar Sesión</h2>
    <form id="form-login">
      <input type="text" id="usuario" name="usuario" placeholder="Ingrese usuario" required />
      <input type="password" id="password" name="password" placeholder="Ingrese contraseña" required />
      <button class="button" type="submit">Iniciar sesión</button>
    </form>
    <div id="mensaje"></div>
    <div class="button-container">
      <a class="button" href="../templates/registro.html">Registrarse</a>
      <a class="button" href="../templates/index.html">Página principal</a>
    </div>
  </div>
  <script src="../pag_JavaScript/inicio-sesion.js"></script>
</body>
</html>