<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../EstiloCSS/registro.css">
</head>
<body>
    <!-- <h2>registrarse</h2> -->
    <div id="manejo">
        <h2>Registrarse</h2>
        <form action="/registro" method="post">
            <input type="text" id="nombre" placeholder="ingrese nombre">
            <input type="text" id="apellido" placeholder="ingrese apellido">
            <input type="email" id="gmail" placeholder="correo electronico">
            <input type="tel" id="telefono" placeholder="telefono">
            <input type="text" id="usuario" placeholder="nombre de usuario">
            <input type="password" id="contraseña" placeholder="contraseña">
            <button class="button" type="submit">CREAR USUARIO</button><br>
            <div class="button-container">
            <a class="button" href="../templates/inicio-sesion.html">Iniciar sesion</a>
            <a class="button" href="../index.html">Pagina principal</a>
            </div><br>
            <!-- <button class="button" type="submit">CREAR USUARIO</button> -->
        </form>
    </div>
    <script src=""></script>
</body>
</html>