<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/EstiloCSS/registro.css">
</head>
<body>
    <div id="manejo">
        <h2>Registrarse</h2>
        <form id="form-registro">
            <input type="text" name="nombre" id="nombre" placeholder="Ingrese nombre" required>
            <input type="text" name="apellido" id="apellido" placeholder="Ingrese apellido" required>
            <input type="email" name="email" id="email" placeholder="Correo electrónico" required>
            <input type="tel" name="telefono" id="telefono" placeholder="Teléfono">
            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario" required>
            <input type="password" name="password" id="password" placeholder="Contraseña" required>
            <button class="button" type="submit">CREAR USUARIO</button><br>

            <div class="button-container">
                <a class="button" href="../templates/inicio-sesion.html">Iniciar sesión</a>
                <a class="button" href="../templates/index.html">Página principal</a>
            </div><br>

            <div id="mensaje" style="margin: 10px 0; font-weight: bold;"></div>
        </form>

        <div id="mensaje" style="color: green; margin-top: 10px;"></div>
    </div>

    <!-- Enlace al archivo JavaScript -->
    <script src="../pag_JavaScript/registro.js"></script>
</body>
</html>